{% assign is_post = page.date %}
<!doctype>
<html lang="en">
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body class="lh-copy dark-gray pa0 f6 sans-serif bg-super-white">
    <header class="tc mt4">
      <a href="{{ site.url }}">
        <img src="{{ site.url }}/images/header.png" alt="Home" width="504" height="165">
      </a>
    </header>
    <div class="mw7 bg-white mt4 mb3 center br2-ns bt bb ba-ns b--light-gray">

      <main class="tl f6 relative pa4 pa5-ns overflow-hidden">
        <div class="markdown-body">
          {{ content }}
        </div>
        {% if is_post %}{% include signoff.html %}{% endif %}
      </main>
      {% if is_post %}{% include pagination.html %}{% endif %}
    </div>
  </body>
</html>
